
/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}





footer {
	background: #333;
	color: #eee;
	font-size: 14px;
	padding: 10px;
	margin-top: 200px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

/*#searchInput {
	width: 200px;
}*/

.navbar-brand {
	padding: 13px 15px;
}

.navbar {
	background: #1a1a19;

}

.navbar li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.6em;
        margin: 0 .5em;
}

.navbar .active a {
	background: #fdc501;
	color: #1a1a1a;
}

#main {
	 margin-top: 60px;
 }



/* --------------------------------------
   Global Styles
   -------------------------------------- */

.thumbnail {
	height:200px !important;
	margin-bottom: 5px;
}
.productsContainer {
	margin-top: 100px;
}