/* --------------------------------------
   Footer
   -------------------------------------- */
footer {
	background: #333;
	color: #eee;
	font-size: 14px;
	padding: 10px;
	margin-top: 200px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */





/* --------------------------------------
   Global Styles
   -------------------------------------- */

.thumbnail {
	height:200px;
	margin-bottom: 5px;
}
img.list-group-image{
	height:150px;
}
.productsContainer {
	margin-top: 20px;
}
.check
{
  opacity:0.5;
	color:#996;
}
#fixed-btn {
    position: fixed;
    top: 10em;
    left: 1em;
}
